body {
  background-image:url(images/background6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

  input {
  width: 10%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=number] {
  border-bottom: 2px solid red;
  border-radius: 4px;
  align-items: center;

}
input[type=submit] {
  background-color: #800000;
  color: white;
}

p {
  font-size: 30px;
}
